@font-face{
font-family: "Scoreboard";
src: url(fonts/rounded-led-board-7/rounded_led_board-7.ttf);
}

@font-face{
    font-family: "SBT";
    src: url(fonts/advanced-led-board-7/advanced_led_board-7.ttf);
}

@font-face{
  font-family: "tiny";
  src: url(fonts/tiny_chalk/TinyChalk-Regular.otf);
}


body {
width: 65%;
margin: auto;
background-color: rgb(87, 146, 194);
}

 h3{
    text-align: center;
    transform: translateY(-45%);
}

h2 {
  font-family: tiny;
  font-size: 50px;
  color:rgb(12, 40, 103);
}



section {
    margin: 1rem 0;
    padding: 1rem;
}
section.coption {
    margin: 1rem 0;
    padding: 1rem;
    background-color: rgb(137, 182, 219);
    border-radius: 20px;
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateY(25%);

}

#title {
    transform: translateY(20%);

    width: auto;
    height: auto;
  
}



.images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.images img {
    opacity: 80%;
    transition: all .3s ease-in-out;
    max-width: 100%;
}

.images > #c-img {
    opacity: 100%;
    transform: scale(1);
}
.images img:hover {
    opacity: 100%;
    transform: scale(1.3);
}



section.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    background-color: rgb(7, 19, 30);
    color: white;
    border-radius: 10px;

    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);

    font-family: SBT;
    font-size: 40px;

    transform: translateY(30%);
    
  }



  @media screen and (max-width: 768px)  {
    main {grid-template-columns: 1fr;}
    main img {transform: scale(.9);}
  }
  #result {
    padding-bottom: 1rem;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(130, 145, 158);
    border-style: solid;

   
    transform: translateY(-25%);


    padding: 10px;
    width: auto;
    height: 100px;
    margin: 5px;

    margin: auto;
    position: relative;

    font-family: SBT;

  }


  #wins, #losses, #ties {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 2rem;
    margin-left: 1.3rem;
    color: rgb(222, 206, 31);
    font-family: scoreboard;

  }
  
  p.label {
    font-size: 2rem;
    line-height: 1;
    margin-top: 0;

    
    bottom: 6rem;
    left: 50%;
    transform: translateX(0%);
    transform: translateY(-550%);
  }



@media screen and (max-width: 600px) {
  .score {
      height: auto; 
  }

  #wins, #losses, #ties {
      font-size: 40px;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
  }

  p.label {
      font-size: 1.5rem;
      bottom: 3rem;
  }
}


  .reset {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-top: 1rem;
  }
  .reset button {
    padding: .25rem .5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: translateY(-150%);
  }
  