body {
width: 65%;
margin: auto;
background-color: rgb(87, 146, 194);
}

h1, h2{
    text-align: center;
}

section {
    margin: 1rem 0;
    padding: 1rem;
}
section.coption {
    margin: 1rem 0;
    padding: 1rem;
    background-color: rgb(137, 182, 219);
    border-radius: 20px;
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.images img {
    opacity: 80%;
    transition: all .3s ease-in-out;
}
.images img:hover {
    opacity: 100%;
    transform: scale(1.3);
}




section.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    background-color: rgb(7, 19, 30);
    color: white;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 2);

  }



  @media screen and (max-width: 768px)  {
    main {grid-template-columns: 1fr;}
    main img {transform: scale(.9);}
  }
  #result {
    padding-bottom: 1rem;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .score {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: rgb(130, 145, 158);
    border-style: solid;

    padding: 10px;
    width: 80px;
    height: 100px;
    margin: 5px;

  }


  #wins, #losses, #ties {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 4.5rem;
    color: rgb(222, 206, 31);
  }
  p.label {
    font-size: 2rem;
    line-height: 1;
    margin-top: 0;

    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
  }



  .reset {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-top: 1rem;
  }
  .reset button {
    padding: .25rem .5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  